* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  background: rgb(73, 71, 71);
  width: 32%;
  padding: 7px;
}

.avatarContainer {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 3px solid #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}

.avatar:hover {
  border: 5px solid rgb(73, 71, 71);
  cursor: pointer;
  transition-duration: 200ms;
}

.bolt {
  font-size: 6px;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bold {
  font-size: 6px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}

.blue {
  font-size: 6px;
  font-weight: bold;
}

a {
  color: rgb(28, 173, 192);
  text-decoration: none;
  display: block;
}

.contacts {
  color: #fff;
  padding-top: 20px;
  cursor: pointer;
}

.contactsTitle {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

.contactsText {
  font-size: 6px;
  margin-top: 5px;
}

.iconsContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6px;
}

.icon {
  display: flex;
  width: 20px;
  height: auto;
}

.content {
  background: #fff;
  padding: 10px 7px;
  width: 68%;
}

h1 {
  text-align: right;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  color: rgb(73, 71, 71);
}

h2 {
  font-size: 7px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 2px;
  color: rgb(73, 71, 71);
  margin-top: 5px;
}

.titleContent {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.leftSideTitle {
  width: 29%;
}

.rightSideTitle {
  width: 71%;
}

.leftDirection,
.rightDirection {
  width: 50%;
}

h2::after {
  display: block;
  height: 1px;
  content: "";
  background: rgb(73, 71, 71);
}

h3 {
  text-align: right;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(73, 71, 71);
  margin: 10px 0 10px 0;
}

h3::after {
  display: block;
  height: 1px;
  content: "";
  background: rgb(73, 71, 71);
}

.experienceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experienceItem {
  border-radius: 5px 20px;
  width: 49%;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid rgb(73, 71, 71);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  padding: 5px 5px 8px 5px;
}

h4 {
  background-color: rgb(73, 71, 71);
  border-radius: 15px 50px;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  font-size: 5px;
  font-weight: 600;
  margin-bottom: 4px;
}

.experienceText {
  font-size: 5px;
  color: #000;
  margin: 0 5px 0 5px;
}

.experienceColumn {
  margin-right: -28px;
}

.skillsContainer {
  background-color: rgb(73, 71, 71);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  padding: 8px 0;
}

h5 {
  font-size: 5px;
  font-weight: 600;
  margin: 0 5px 3px 5px;
  color: rgb(73, 71, 71);
}

h6 {
  text-align: center;
  color: #fff;
  font-size: 8px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.skillsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skillsItem {
  font-size: 5px;
  color: #fff;
  width: 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-family: "Tomorrow", sans-serif;
  text-align: center;
}

.skillsLanguageItem {
  font-size: 5px;
  color: #fff;
  font-weight: bold;
  font-family: "Tomorrow", sans-serif;
  text-align: center;
}

.portfoliosContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.portfoliosItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  padding-bottom: 5px;
  border-radius: 5px;
  width: 25%;
}

.portfoliosItemPicContainer {
  border-radius: 5px 5px 0 0;
  padding: 2px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.portfoliosItemPic {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.portfoliosItemTitle {
  font-size: 5px;
  color: rgb(61, 60, 60);
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}

.portfoliosItemText {
  color: #000;
  font-size: 5px;
  padding: 5px 5px 0 7px;
}

.portfoliosItemLinkContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5px;
}

.portfoliosItemLink {
  font-size: 4px;
}

.educationContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.educationItem {
  border-radius: 20px 5px;
  width: 33%;
  background-color: #fff;
  border: 1px solid rgb(73, 71, 71);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  padding: 5px 5px 8px 5px;
}

.educationTitle {
  background-color: rgb(73, 71, 71);
  border-radius: 50px 15px;
  padding: 4px 0;
  text-align: center;
  color: #fff;
  font-size: 6px;
  font-weight: 600;
  margin-bottom: 4px;
}

.educationTitleX {
  background-color: rgb(73, 71, 71);
  border-radius: 50px 15px;
  padding: 4px 0;
  text-align: center;
  color: #fff;
  font-size: 6px;
  font-weight: 600;
  margin-bottom: 4px;
}

.saveCV {
  text-align: center;
  font-size: 8px;
  margin-top: 20px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 45, 58, 0.7);
}

.modalHidden {
  display: none;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
  border-radius: 2px;
}

.modalImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modalInnerImg {
  width: 100%;
  height: auto;
}

.contactsTextBold {
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
}

.contactsInfo {
  width: 220px;
  background: rgb(73, 71, 71);
  border-radius: 10px;
  padding: 20px 20px 40px;
}

.contactsInfo .iconContainer {
  margin-top: 20px;
}

.contactsInfo img {
  width: 40px;
  height: auto;
}

.contactsInfo p {
  font-size: 14px;
}

.contactsInfo a {
  font-size: 12px;
}

.experienceContainerStyle {
  width: 200px;
  border-radius: 10px 30px;
  padding: 10px;
}

.experienceContainerStyle h4 {
  font-size: 16px;
}

.experienceContainerStyle h5 {
  font-size: 12px;
  margin: 10px;
}

.experienceContainerStyle p {
  font-size: 12px;
  margin: 10px;
}

.skillsContainerStyle {
  width: 240px;
}

.skillsContainerStyle h6 {
  font-size: 16px;
  padding: 20px;
}

.skillsContainerStyle p {
  font-size: 10px;
  margin: 10px;
}

.educationContainerStyle {
  width: 200px;
  border-radius: 30px 10px;
  padding: 10px;
}

.educationContainerStyle h4 {
  font-size: 16px;
}

.educationContainerStyle h5 {
  font-size: 12px;
  margin: 10px;
}

.educationContainerStyle p {
  font-size: 12px;
  margin: 10px;
}

@media (min-width: 756px) {
  .container {
    width: 796px;
  }

  .sidebar {
    padding: 20px;
  }

  .avatar {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
  }

  .bolt {
    font-size: 14px;
  }

  .bold {
    font-size: 14px;
    margin-left: 20px;
  }

  .blue {
    display: flex;
    font-size: 14px;
  }

  .contacts {
    padding-top: 50px;
  }

  .contactsTitle {
    font-size: 22px;
  }

  .contactsText {
    font-size: 14px;
    margin-top: 20px;
  }

  .icon {
    width: 50px;
  }

  .content {
    padding: 20px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 26px;
    letter-spacing: 3px;
    margin-top: 10px;
  }

  .leftSideTitle {
    width: 22%;
  }

  .rightSideTitle {
    width: 78%;
  }

  h2::after {
    height: 2px;
  }

  h3 {
    font-size: 28px;
    margin: 20px 0 20px 0;
  }

  h3::after {
    height: 2px;
  }

  .experienceItem {
    border-radius: 15px 50px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    padding: 10px 10px 20px 10px;
  }

  .experienceItem:hover {
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
    cursor: zoom-in;
  }

  .experienceTitle {
    background-color: rgb(73, 71, 71);
    border-radius: 15px 50px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .experienceText {
    font-size: 14px;
    margin: 0 5px 0 10px;
  }

  .skillsContainer {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    padding: 15px 0;
  }

  .skillsContainer:hover {
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
    cursor: zoom-in;
  }

  h5 {
    font-size: 14px;
    margin: 0 5px 5px 10px;
  }

  h6 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .skillsItem {
    font-size: 14px;
    width: 100px;
    margin-bottom: 30px;
  }

  .skillsLanguageItem {
    font-size: 14px;
  }

  .portfoliosItem {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
    border-radius: 10px;
  }

  .portfoliosItem:hover {
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
    cursor: zoom-in;
    background-color: #fff;
  }

  .portfoliosItemPicContainer {
    border-radius: 10px 10px 0 0;
    padding: 5px;
  }

  .portfoliosItemPic {
    border-radius: 10px 10px 0 0;
  }

  .portfoliosItemTitle {
    font-size: 14px;
    margin-top: 10px;
  }

  .portfoliosItemText {
    font-size: 14px;
    padding: 10px 5px 0 15px;
  }

  .portfoliosItemLinkContainer {
    margin-top: 10px;
  }

  .portfoliosItemLink {
    font-size: 12px;
  }

  .educationItem {
    border-radius: 50px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    padding: 10px 10px 20px 10px;
  }

  .educationItem:hover {
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
    cursor: zoom-in;
  }

  .educationTitle {
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .educationTitleX {
    border-radius: 40px 15px;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .saveCV {
    font-size: 14px;
    margin-top: 30px;
  }

  .modalImg {
    padding: 60px;
  }

  .modalInnerImg {
    width: 50%;
  }

  .contactsTextBold {
    font-size: 24px;
    line-height: 1.5;
  }

  .contactsInfo {
    width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  }

  .contactsInfo img {
    width: 60px;
  }

  .contactsInfo p {
    font-size: 24px;
  }

  .contactsInfo a {
    font-size: 22px;
  }

  .experienceContainerStyle {
    width: 400px;
  }

  .experienceContainerStyle h4 {
    font-size: 24px;
  }

  .experienceContainerStyle h5 {
    font-size: 18px;
    margin: 20px;
  }

  .experienceContainerStyle p {
    font-size: 16px;
    margin: 20px;
  }

  .skillsContainerStyle {
    width: 100%;
  }

  .skillsContainerStyle h6 {
    font-size: 24px;
    padding: 30px;
  }

  .skillsContainerStyle p {
    font-size: 18px;
    margin: 20px;
  }

  .educationContainerStyle {
    width: 400px;
    border-radius: 40px 10px;
  }

  .educationContainerStyle h4 {
    font-size: 24px;
  }

  .educationContainerStyle h5 {
    font-size: 18px;
    margin: 20px;
  }

  .educationContainerStyle p {
    font-size: 16px;
    margin: 20px;
  }
}
